<nav class="navbar navbar-default navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">footer stuff</a>
    </div>
    <div>
      <ul class="nav navbar-nav header-list">
        <li><a class="navbar-brand" href="#">About</a></li>
        <li><a class="navbar-brand" href="#">Tourney Rules</a></li>
        <li><a class="navbar-brand" href="#">Prizes</a></li>
        <li><a class="navbar-brand" href="#">Hosting</a></li>
        <li><a class="navbar-brand" href="#">Organizers and Helpers</a></li>
      </ul>
    </div>
  </div>
</nav>
