<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
<div class="container container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Tournament name</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav header-list">
      <li><a class="navbar-brand glyphicon glyphicon-home" href="#"></a></li>
      <li><a class="navbar-brand" href="#">Players Link</a></li>
      <li><a class="navbar-brand" href="#">Tee Times Link</a></li>
      <li><a class="navbar-brand" href="#">Leaderboard Link</a></li>
    </ul>
    <% if signed_in? %>
      <div class='sign-out'>
        <li><%= button_to "Sign out", session_url, method: :delete, class: "btn btn-primary navbar-btn" %></li>
      </div>
    <% else %>
      <li><%= link_to "Log in", new_session_url %></li>
      <li><%= link_to "Sign up", new_player_url %></li>
    <% end %>
    </ul>
  </div>
</div>
</nav>

<% if flash[:errors] %>
<div class="alert alert-warning alert-dismissible" role="alert">
   <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<%= flash[:errors].join("<br>").html_safe %>
</div>
<% end %>
